@font-face {
    font-family: Time;
    src: url(./fonts/Time.ttf);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    border: 8px outset #131515;
    border-radius: 16px 16px 64px 64px;
    outline: 5px solid black;
    padding: 16px 8px 32px 8px;
    background-color: #262A2B;
}

.display-container {
    width: 294px;
    height: 70px;
    border-radius: 8px 8px 0 0;
    background-color: #262A2B;
    position: relative;
}

#display {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 288px;
    height: 64px;
    padding: 6px;
    background-color: #C1DFB9;
    border: 5px inset #E6F2E3;
    border-radius: 8px;
    color: black;
    font-family: Time, monospace;
    font-size: 32px;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 8px 8px;
    background-color: #262A2B;
    padding-top: 16px;
}

.container-row {
    display: flex;
    justify-content: center;
}

.button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border: 5px outset #899394;
    border-radius: 16px;
    margin: 4px;
    font-size: 32px;
    color: #F5F5F5;
    font-weight: bold;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    background-color: #616A6B;
}

.button:active {
    border-style: inset;
    background-color: #575F60;
    color: #D6D6D6;
}

.button.operator {
    background-color: #1F435B;
    border: 5px outset #2F6589;
}

.button.operator:active {
    border-style: inset;
    background-color: #1A384C;
}

.button.clear {
    background-color: #C97618;
    border: 5px outset #E79536;
}

.button.clear:active {
    border-style: inset;
    background-color: #B76B15;
}

.button.equals,
.button.clear {
    width: 136px;
}