@font-face {
    font-family: Time;
    src: url(./fonts/Time.ttf);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-container {
    width: 294px;
    height: 70px;
    border: 3px solid black;
    border-radius: 8px 8px 0 0;
    background-color: black;
    position: relative;
}

#display {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 288px;
    height: 64px;
    padding: 6px;
    background-color: palegreen;
    border: 5px inset lightgreen;
    border-radius: 8px;
    color: black;
    font-family: Time, monospace;
    font-size: 32px;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    border-radius: 0 0 8px 8px;
    outline: 3px solid black;
    background-color: gray;
}

.container-row {
    display: flex;
    justify-content: center;
}

.button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border: 5px outset lightslategray;
    border-radius: 8px;
    margin: 4px;
    font-size: 32px;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    background-color: slategray;
}

.button.operator {
    background-color: darkslategray;
    border: 5px outset slategray;
}

.button.clear {
    background-color: chocolate;
    border: 5px outset coral;
}

.button.equals,
.button.clear {
    width: 136px;
}